# IMPORTANT:
#    Do not forget to keep SYNC .env and .env.example files.
#    Do not add ".env" file to git, it contains sensitive information.


# THE ENV VARIABLES BELOW ALSO DEFINE THE BRANCH IN GITEA, CHECK THE FILE
# "docs/GIT_STRATEGY.md" FOR MORE INFO.
MY_ENV=■■■                                                # local | stage | PROD

# Domain and  SSL              Local          Stage           PROD
MY_DOMAIN=■■■.■■■    # ■■■-local.com    ■■■-stage.com    ■■■.com
MY_USER=■■■
MY_PASS=■■■
MY_EMAIL=■■■

# Shared Secret, used in webhooks, token, etc.
SHARED_TOKEN=■■■

UID=■■■
GID=■■■

# DATABASE
DB_SCHEMA=■■■
DB_USER=■■■
DB_PASS=■■■
DB_SERVER=t51db
DB_VOLUME=t51DB_vol1 # It's also hardcoded in docker-compose.yml, in 'volumes:' section
DB_IP=172.30.0.101
DB_PORT=5001


# IMAGES
IMAGE_MVN=maven:3.9.9-eclipse-temurin-21-alpine
IMAGE_JENKINS=jenkins/jenkins:2.555.1-lts-jdk25
IMAGE_GITEA=docker.gitea.com/gitea:1.26.1-rootless
IMAGE_JAVA=eclipse-temurin:21-alpine
IMAGE_NODE=node:25.7-alpine3.23
IMAGE_NGINX=nginx:stable-alpine3.23
IMAGE_REVERSE_PROXY=nginxproxy/nginx-proxy:1.10-alpine
IMAGE_ACME_COMPANION=nginxproxy/acme-companion:2.6
IMAGE_REGISTRY=registry:3.1
IMAGE_HTTPD=httpd:2
DB_IMAGE=postgres:17.6-alpine3.22
DB_MIG_IMAGE=liquibase:4.33-alpine


# CONFIGURATION
# CAUTION
#
# 1. Before changing the variables "*_NAME" for example "DB_MIG_NAME", also
# change the name of the files in "setup/gitea/initial_repos/*.tar.xz". e.g.
# "BACK_NAME=t51back" and "setup/gitea/initial_repos/t51back.tar.xz" must match.

# Database Migrations
DB_MIG_NAME=t51mig-db
DB_MIG_REPO=ssh://git@gitea:2222/${MY_USER}/${DB_MIG_NAME}.git


# Back-end
BACK_NAME=t51back
BACK_REPO=ssh://git@gitea:2222/${MY_USER}/${BACK_NAME}.git
BACK_IMAGE=${BACK_NAME}:latest
BACK_IP=172.30.0.102
BACK_URL=http://api.${MY_DOMAIN}


# Front-end
FRONT_NAME=t51front
FRONT_REPO=ssh://git@gitea:2222/${MY_USER}/${FRONT_NAME}.git
FRONT_IMAGE=${FRONT_NAME}:latest
FRONT_IP=172.30.0.103
FRONT_PORT=80


# Dev-Ops
DEVOPS_NAME=t51devops
DEVOPS_REPO=ssh://git@gitea:2222/${MY_USER}/${DEVOPS_NAME}.git


GITEA_IP=172.30.0.201
GITEA_PORT=3000

JENKINS_IP=172.30.0.202
JENKINS_PORT=3001

REVERSE_PROXY_IP=172.30.0.203
ACME_COMPANION_IP=172.30.0.204

REGISTRY_IP=172.30.0.214

# run "getent group docker | cut -d: -f3" to get the GID of docker group in your system.
DOCKER_GID=■■■
