**/vol-*/*

setup/data

**/secrets/*
**/*.secret.*
**/*.secret




**/workspace/*
!**/workspace/Backend-Deploy-v1/
**/workspace/Backend-Deploy-v1/*
!**/workspace/Backend-Deploy-v1/*.sh

!**/workspace/Frontend-Deploy-v1/
**/workspace/Frontend-Deploy-v1/*
!**/workspace/Frontend-Deploy-v1/*.sh

!**/workspace/Database-Rollback-v1/
**/workspace/Database-Rollback-v1/*
!**/workspace/Database-Rollback-v1/*.sh

!**/workspace/Database-Deploy-v1/
**/workspace/Database-Deploy-v1/*
!**/workspace/Database-Deploy-v1/*.sh
!**/workspace/Database-Deploy-v1/*.md

!**/workspace/Database-Rollback-v1/
**/workspace/Database-Rollback-v1/*
!**/workspace/Database-Rollback-v1/*.sh
!**/workspace/Database-Rollback-v1/*.md



!**/workspace/Database-Backup/
**/workspace/Database-Backup/*
!**/workspace/Database-Backup/*.sh

!**/workspace/0_scripts/
**/workspace/0_scripts/*
!**/workspace/0_scripts/*.sh

app/*/source/*

!**/README_devops.md


**/*.jar
**/*.zip