**/vol-*/*

setup/data

**/secrets/*
**/*.secret.*
**/*.secret




**/workspace/*
!**/workspace/back/
**/workspace/back/*
!**/workspace/back/*.sh

!**/workspace/front/
**/workspace/front/*
!**/workspace/front/*.sh

!**/workspace/docker-control/
**/workspace/docker-control/*
!**/workspace/docker-control/*.sh

!**/workspace/db-mig-deploy/
**/workspace/db-mig-deploy/*
!**/workspace/db-mig-deploy/*.sh

!**/workspace/db-mig-rollback/
**/workspace/db-mig-rollback/*
!**/workspace/db-mig-rollback/*.sh

!**/workspace/0_scripts/
**/workspace/0_scripts/*
!**/workspace/0_scripts/*.sh

app/*/source/*

!**/README_devops.md


**/*.jar
**/*.zip