!**/README_*.md

**/vol-*/*
!**/vol-*/*.md

.env
.env.*
!.env.example

dep_data

**/secrets/*

**/backups/*
!**/backups/*.md

!**/workspace/*/
**/workspace/*/*
!**/workspace/*/*.sh
!**/workspace/*/*.md

app/*/source/*
app/*/source/.*

# setup/shared/known_hosts # git update-index --assume-unchanged setup/shared/known_hosts
setup/reverse-proxy/conf.d/default.conf
setup/reverse-proxy/vhost.d
setup/reverse-proxy/certs

**/*.jar
**/*.zip
**/*.log
**/.m2

app/back/test_reports/*/*
!app/back/test_reports/*/*.md
